featomic==0.6.1
ase==3.25.0
coverage[toml]
pytest==8.3.5
scipy
setuptools-rust==1.11.1
tqdm==4.67.1
metatensor==0.2.0
wigners==0.3.0
matplotlib
skmatter==0.2.0
# Using older version of scikit-learn until skmatter becomes compatible with most recent version (1.7.0)
scikit-learn==1.5.0
